.start {
  padding: 1rem 0;

  .lists,
  .buttons {
    height: calc(50vh - 16px);
  }

  .lists {
    overflow-y: scroll;

    .list-button {
      width: 100%;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
