.start {
  padding: 1rem 0;
  height: 100vh;

  .lists,
  .buttons {
    height: calc(50vh - 16px);
  }

  .lists {
    overflow-y: scroll;

    .list-button {
      width: 100%;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .new-list-button,
    .menu-button {
      width: 100px;
      height: 100px;
    }
  }
}
